#area{
  max-width: 84vw; /*Innehållet kan inte bli större än 84% av skärmens visningsbredd*/
  margin: 0 auto; /*Lägger innehållet i mitten av sidan*/
  text-align: center;
  background-color: #75757E;
  color: white; 
  box-shadow: 0vw 0.6vw 1.15vw 0vw rgba(0,0,0,0.2); /*Lägger en skugga runt innehållet*/
  min-height: calc(100vh - 46px); /*Gör så att innehållet blir lika stor som 100vh-46px, det vill säga storleken av hela sidan i visningshöjden*/
}
.sidebar1 {
  border-style: solid;
  grid-column: 3; /*Lägger innehållet i tredje kolumnen på sin grid*/
  grid-row: 1 / 4; /*innehållet stretchar från rad 1 till 4*/
  padding-top: 2vw;
}
.img3{
  height: 10vw;
  width: 9vw;
  padding: 1vw 2vw 1vw 2vw;
  background-color: rgb(245, 245, 241);
  box-shadow: 0vw 0.6vw 1.15vw 0vw rgba(0,0,0,0.2);
  border-radius: 10%; /*gör hörnen runda*/
}
.img2{
  height: 12vw;
  width: 15vw;
  border-radius: 10%;
  margin-top: 2vw;
}
.sidebar1 p{
  padding:1vw 0vw 2vw 0vw;
  max-width: 15vw;
  margin: 0 auto;
  text-align: center;
}
.sidebar1 form{
  padding: 0vw 1vw 0vw 1vw;
}
main {
  border-style: solid;
  grid-column: 2;
  grid-row: 1 / 4;
  min-height: calc(100vh - 46px);
}
main p{
  max-width: 40vw;
  margin: 0 auto;
  padding: 1vw 0vw 0vw 0vw;
}
footer{
  border-style: solid;
  grid-column: 1;
  grid-row: 1/4;
  padding-top: 2vw;
}
.Links{
  border-top: rgb(126, 117, 117); /*Ändrar färgen på ovansidan av bordern*/
}
footer div{
  border-style: solid;
  border-left: rgb(126, 117, 117);
  border-right: rgb(126, 117, 117);
  border-bottom: rgb(126, 117, 117);
  padding: 0vw 0vw 2vw 0vw;
}
footer p{
  padding: 0vw 0vw 1vw 0vw;
  margin: 0vw 1vw 0vw 1vw;
}
footer a{
  color: white;
  text-decoration: none;
  font-size: 1.3vw;
}
footer a:hover{
  color: rgb(169, 169, 169);
}
.Källor{
  min-height: calc(100vh);
  text-align: center;
}
footer ul{
  margin: 0vw 1vw 0vw 1vw;
  list-style-type: none;
}
.button{
  display: grid; /*Skapar en grid*/
  max-width: 60vw;
  margin: 0 auto;
  grid-template-columns: auto auto; /*Gör kolumnerna 50% stor var*/
  grid-template-areas: 
  ". ."; /*Säger hur gridden ska se ut*/
  min-height: 7vw;
  grid-gap: 1vw; /*Lägger uttrymme mellan grid elementen*/
  margin-top: 6vw;
  padding: 0vw 3vw 0vw 3vw;
}
.button a{
  background-color: black;
  max-height: 3vw;
  border-radius: 10%;
  font-size: 1.43vw;
  text-decoration: none;
  color: white;
  padding: 1vw 0vw 1vw 0vw;
  background-color: rgb(155, 144, 144);
  box-shadow: 0vw 0.6vw 1.15vw 0vw rgba(0,0,0,0.2);
}
.button a:hover{
  background-color: white;
  color: black;
}
footer ul{
  padding: 0vw 0vw 0vw 1vw;
}
footer li{
  text-align: left;
  padding: 0vw 1vw 0vw 1vw;
}
footer h2{
  padding:1vw 0vw 2vw 0vw;
  max-width: 13vw;
  margin: 0 auto;
  text-align: center;
}
.img1{
  height: 22vw;
  width: 38vw;
  border-radius: 5%;
  border-style: solid;
  border-color: white;
  margin-top: 1.5vw;
}
.List1{
  text-align: left;
  max-width: 35vw;
  margin: 0 auto;
}
fieldset{
  margin: 0vw 1vw 0vw 1vw;
}
iframe{
  height: 22vw;
  width: 38vw;
  margin: 1vw 0vw 0vw 0vw;
}
table{
  margin: 0 auto;
  margin-top: 1vw;
  font-size: 1vw;
  background-color: rgb(89, 89, 89);
}
table th td{
  border: 0.5vw solid black;
  border-collapse: collapse;
}
th,td{
  height: 3.4vw;
}
th{
  background-color: rgba(101, 81, 81, 0.831);
  color: rgb(255, 255, 255);
}
tr:nth-child(odd){ /*Gör så att varje udda tr ändrar style till det som står*/
  background-color: rgb(177, 175, 174);
color: black;}
tr:nth-child(even){ /*Varje jämna tr ändrar style till det som står*/
  background-color: rgb(140, 120, 120);
color: white;
}
th:nth-child(1){/*Den 1:a th har stylen som står under*/
  width: 6vw;
  text-align: left;
  padding-left: 1vw;
}
th:nth-child(2){
  width: 10vw;
  text-align: center;
}
th:nth-child(3){
  text-align: center;
  width: 10vw;
}
th:nth-child(4){
  text-align: right;
  width: 6vw;
  padding-right: 1vw;
}
td:nth-child(1){
  width: 6vw;
  text-align: left;
  padding-left: 1vw;
}
td:nth-child(2){
  text-align: center;
  width: 10vw;
}
td:nth-child(3){
  text-align: center;
  width: 10vw;
}
td:nth-child(4){
  text-align: right;
  width: 6vw;
  padding-right: 1vw;
}
.text1{
  font-size: 1vw;
}
.button1{
  max-width: 60vw;
  margin: 0 auto;
  min-height: 6vw;
  margin-top: 2vw;
  padding: 0vw 3vw 0vw 3vw;
}
.button1 a{
  background-color: black;
  max-height: 3vw;
  border-radius: 10%;
  font-size: 1.43vw;
  text-decoration: none;
  color: white;
  padding: 1vw 1vw 1vw 1vw;
  background-color: rgb(155, 144, 144);
  box-shadow: 0vw 0.6vw 1.15vw 0vw rgba(0,0,0,0.2);
}
.button1 a:hover{
  background-color: white;
  color: black;
}
.main2 {
  border-style: solid;
  grid-column: 1;
  grid-row: 1 / 4;
  min-height: calc(100vh - 46px);
}
.footer2{
  border-style: solid;
  grid-column: 2;
  grid-row: 1/4;
  padding-top: 2vw;
}
.footer2 ul{
  padding: 0vw 0vw 0vw 8vw;
}
.footer2 li{
  text-align: left;
  padding: 0vw 1vw 0vw 1vw;
}
ol{
  margin: 0vw 1vw 0vw 1vw;
}
@media  screen and (max-width: 900px) { /*Ändrar stylen på det som står inuti när skärmen blir 900px eller mindre i bredden*/
  footer a{
    font-size: 1.5vw;
  }
}
@media  screen and (max-width: 500px) {/*Ändrar stylen på det som står inuti när skärmen blir 500px eller mindre i bredden*/
  footer a{
    font-size: 1.9vw;
  }
}