.area{
  max-width: 84vw;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(126, 117, 117);
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: grid; 
  grid-template-columns: 20% auto 25%;
  grid-template-areas: 
    ". . ."
    ". . .";
  min-height: calc(100vh - 46px);
}
.sidebar {
  border-style: solid;
  grid-column: 3;
  grid-row: 1 / 4;
  padding-top: 2vw;
}
.sidebar img{
  height: 10vw;
  width: 9vw;
  padding: 1vw 2vw 1vw 2vw;
  background-color: rgb(245, 245, 241);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10%;
}
.sidebar p{
  padding:1vw 0vw 2vw 0vw;
  max-width: 15vw;
  margin: 0 auto;
  text-align: center;
}
main {
  border-style: solid;
  grid-column: 2;
  grid-row: 1 / 4;
}
footer{
  border-style: solid;
  grid-column: 1;
  grid-row: 1/4;
  font-size: large;
}
footer div{
  border-color: white;
  border-style: solid;
  border-left: rgb(126, 117, 117);
  border-right: rgb(126, 117, 117);
  border-bottom: rgb(126, 117, 117);
  padding: 1vw 0vw 2vw 0vw;
}
.källor{
  min-height: calc(100vh);
}
.test{
  color: white;
  text-decoration: none;
}
.test:hover{
  color: rgb(169, 169, 169);
}